@model System.Collections.Generic.List<UniversityResidence.Models.ResidenceHall>

@{
    ViewBag.Title = "Residence Halls";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover ">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
        </tr>
        @foreach (var hall in Model)
        {
            <tr>
                <td>@hall.Id</td>
                <td>@hall.Name</td>
                <td>@hall.Adress</td>
            </tr>
        }
    </tbody>
</table>
